header{

  background-color: red;
  height: 50px;
  text-align: center;


}

.links{
  display: inline-block;
  padding: 16px;
}

img{
  height: 416px;
  width: 100%;

}

#banner{
  text-align: center;
  color: gray;
  font-weight: bold;
  font-size: 91px;
  border: 1px solid gray;
}

#page2{
background-color: green;
padding-top: 70px;
padding-bottom: 70px;
}

#page3{
background-color: blue;
padding-top: 70px;
padding-bottom: 70px;
}
